.cont-nav {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 0;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.cont-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.cont-nav {
  .link {
    @media screen and (min-width: 768px) {
      margin-right: 0;
      &:first-child {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      &:first-child {
        margin-bottom: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.footer-contacts-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
  width: 16px;
  height: 12px;
}
.tel-icon {
  width: 10px;
  height: 16px;
  align-items: baseline;
}
.cont-nav-link {
  &:hover,
  &:focus {
    .footer-contacts-icon {
      fill: var(--accent-color);
    }
  }
}
