.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  // margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
.logo-second-color {
  color: #000000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
