.benefits__pasteboard-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.pasteboard-list__description {
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
    margin-left: 30px;
    &:nth-child(2n + 1) {
      margin-left: 0;
    }
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 23px);
    margin-bottom: 0;
    &:nth-child(3) {
      margin-left: 30px;
    }
  }
}
.item-antena {
  &::before {
    background-image: url(../images/antenna.svg);
  }
}
.item-clock {
  &::before {
    background-image: url(../images/clock.svg);
  }
}
.item-diagrama {
  &::before {
    background-image: url(../images/diagram.svg);
  }
}
.item-astronaut {
  &::before {
    background-image: url(../images/astronaut.svg);
  }
}
.pasteboard-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.pasteboard-list__text {
  line-height: 1.71;
}
