.work {
  // padding: 0 0 94px 0;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding: 0 0 94px 0;
  }
}
.work__list {
  // margin-top: 0;
  // margin-bottom: 0;
  // padding-left: 0;
  // display: flex;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
  }
}

.work__img {
  // padding-right: 30px;
  // &:last-child {
  //   padding-right: 0;
  @media screen and (min-width: 1200px) {
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
}
.work__img-thumb {
  @media screen and (min-width: 1200px) {
    position: relative;
  }
  // position: relative;
}
.work__img-cover {
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 370px;
  // height: 70px;
  // background: rgba(47, 48, 58, 0.8);
  // padding-top: 27px;
  // padding-bottom: 27px;
}
.work__img-cover-text {
  @media screen and (min-width: 1200px) {
    color: var(--primary-white);

    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  // color: var(--primary-white);

  // font-weight: 600;
  // font-size: 14px;
  // line-height: 1.14;
  // text-align: center;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
}
